.Rproj.user
.Rhistory
.RData
.Ruserdata
NUT011.csv
NutNetProject.Rproj
forbs_comp_subplots_spring.csv
forbs_destructive_subplots_spring.csv
destructive_subplot_richness_by_year.csv
flowering_doy_by_species.csv
forb_cover_by_species_season_comp.csv
forb_cover_by_species_year_season_comp.csv
forb_species_number_destructive_spring_by_year.csv
forb_species_number_per_destructive_subplot_spring.csv
phenobase_batch1.csv
phenobase_batch2.csv
top5_cover_species_with_flowering_dates.csv
top5_cover_with_dates_filled.csv
data_clean
KonzaPollObs2026Summer.xlsx
figures
